body {
    font-family: 'Roboto';
}


button {
    width: 500px;
    height: 400px;
    background-color: rgb(67, 67, 240);
    border: 2px solid black;
    border-radius: 5px;
    font-size: 22px;
    color: aquamarine;
}

button:hover {
    background-color: purple;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}

.media1 {
    width: 70%;
    height: 50vh;
    text-align: center;
    background-color: aqua;

}

@media (max-width: 800px){
    .media1 {
        width: 90%;
        height: 20vh;
    }
}


.anime {
    width: 30%;
    height: 50vh;
    text-align: center;
    background-color: red;
    animation: an1 4s linear infinite;
}

@keyframes an1 {
    from {
        margin-left: 8px;
    }

    to {
        margin-left: 250px;
    }
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    transition: all 2s linear;
}

.box2:hover {
    width: 400px;
    margin-left: 100px;
}



